#q {
    display: inline-block;
}

#crd {
    width: 92%;
}

.input-group {
    margin-top: 10px;
}

ul.search-results {
    list-style-type: none;
}

#search {
    margin-bottom: 10px;
}

#search-button{
    margin-left: 5px;
}

.panel-body {
    padding: 10px 20px;
}

.search-result-summary-panel {
    color: #999;
}

.search-results h3 {
    margin-bottom: 0;
    display: inline-block;
}

.search-results cite {
    color: #006621;
    display: block;
    margin-left: 19px;
}

.search-results .well {
    padding: 5px;
    margin: 3px 0px;
}

.search-results .song-chords {
    margin-left: 19px;
}

.search-results .song-chord {
    display: inline-block;
}

.search-results .song-rating {
    margin-left: 5px;
    font-size: larger;
    color: #777;
}