<!doctype html>
<html>
<head>
    <title>Chord Search ♫{{ ' - query: "{0}"'.format(query) if query else '' }}{{ ' - chords: "{0}"'.format(chord_names) if chord_names else '' }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/select2.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/select2-bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/todc-bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/chord-search.css') }}">
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-music"></span> Chord Search <small>[Searching {{ stats.song_count|numberformat }} songs and {{ stats.chord_count|numberformat }} chords]</small></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" id="search">
        <form role="form" id="search-form" class="form-horizontal" method="get" action="{{ url_for('search') }}">
            <div class="input-group col-lg-6 center-block">
                <input type="text" class="form-control input-lg" id="q" name="q" placeholder="Artist or song name (optional)" value="{{ request.args.get('q', '') }}" tabindex="1">
            </div>
            <div class="input-group col-lg-6 center-block">
                <input type="hidden" name="crd" id="crd" tabindex="2" style="width: 92%;" value="{{ selected_chords|safe }}" required>
                <button type="submit" class="btn btn-primary" id="search-button" tabindex="3" title="Search"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
    </div>
    {% block body %}{% endblock %}
</div>
<!-- /.container -->

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chord-search.js') }}"></script>
</body>
</html>
